<!--<div class="flex mt25 mb50">-->
<!--  <div class="flex1 tr fs16">-->
<!--    <div class="mb15">车牌号 ：</div>-->
<!--    <div class="mb15">场区 ：</div>-->
<!--    <div class="mb15">计划号 ：</div>-->
<!--    <div style="margin-bottom: 18px">司机姓名 ：</div>-->
<!--    <div class="">卡号 ：</div>-->
<!--  </div>-->
<!--  <div class="flex1 tl fs16">-->
<!--    <div class="mb15">{{ record?.licenseNumber ? record?.licenseNumber : '-' }}</div>-->
<!--    <div class="mb15">{{ record?.fieldName ? record?.fieldName : '-' }}</div>-->
<!--    <div class="mb15">{{ record?.planNo ? record?.planNo : '-' }}</div>-->
<!--    <div class="mb15">{{ record?.driverName ? record?.driverName : '-' }}</div>-->
<!--    &lt;!&ndash;    <div class='mb15'>{{record?.licenseNumber}}</div>&ndash;&gt;-->
<!--    <input nz-input placeholder="请输入卡号" [(ngModel)]="cardNo" />-->
<!--  </div>-->
<!--</div>-->

<div class="flex pl50">
  <nz-form-item class="flex1">
    <nz-form-label [nzSpan]="7">车牌号</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <div>{{ record?.licenseNumber ? record?.licenseNumber : '-' }}</div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="flex1">
    <nz-form-label [nzSpan]="7">场区</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <div>{{ record?.fieldName ? record?.fieldName : '-' }}</div>
    </nz-form-control>
  </nz-form-item>
</div>

<div class="flex pl50">
  <nz-form-item class="flex1">
    <nz-form-label [nzSpan]="7">计划号</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <div>{{ record?.planNo ? record?.planNo : '-' }}</div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="flex1">
    <nz-form-label [nzSpan]="7">司机姓名</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <div>{{ record?.driverName ? record?.driverName : '-' }}</div>
    </nz-form-control>
  </nz-form-item>
</div>

<div class="flex pl50">
  <nz-form-item class="flex1">
    <nz-form-label [nzSpan]="3" nzRequired>卡号</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <!--      <div>{{ record?.licenseNumber ? record?.licenseNumber : '-' }}</div>-->
      <input nz-input placeholder="请输入卡号" [(ngModel)]="cardNo" />
    </nz-form-control>
  </nz-form-item>
</div>

<div class="flex justify-content-center mt20">
  <button style="width: 150px" nz-button nzType="primary" (click)="send()">确认</button>
</div>
