<div class="content" style="padding-top: 20px; padding-left: 20px">
  <nz-card style="min-height: calc(100vh - 20px); border-top-left-radius: 10px" [nzBordered]="false">
    <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form line-form">
      <div class="row">
        <div class="col-1-4 col-1-3-md">
          <nz-form-item nzFlex>
            <nz-form-label>计划编号</nz-form-label>
            <nz-form-control class="flex2">
              <input nz-input formControlName="planNo" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-1-4 col-1-3-md btn-group">
          <button nz-button nzType="primary" (click)="search()">查询</button>
          <button nz-button nzType="default" (click)="reset()">重置</button>
        </div>
      </div>
    </form>

    <nz-table
      class="mt30 hover-table odd-table fix-table"
      #table
      [nzShowSizeChanger]="true"
      [nzFrontPagination]="false"
      [nzShowTotal]="totalTemplate"
      [nzTotal]="pageInfo.total"
      [(nzPageIndex)]="pageInfo.pi"
      [(nzPageSize)]="pageInfo.ps"
      [nzData]="dataList"
      [nzLoading]="pageInfo.loading"
      (nzPageIndexChange)="load()"
      (nzPageSizeChange)="search()"
    >
      <thead>
        <tr>
          <th class="w80">序号</th>
          <th>计划编号</th>
          <th>船名</th>
          <th>下货纸</th>
          <th>货主</th>
          <th>货名</th>
          <th>重量</th>
          <th>货场</th>
          <th>状态</th>
          <th>备注</th>
          <th nzWidth="210px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data; let i = index">
          <td>{{ i + 1 + (this.pageInfo.pi - 1) * this.pageInfo.ps }}</td>
          <td>{{ data?.planNo }}</td>
          <td>{{ data?.shipName }}</td>
          <td>{{ data?.commodityPaper }}</td>
          <td>{{ data?.cargoOwner }}</td>
          <td>{{ data?.cargoName }}</td>
          <td>{{ data?.tonnage }}</td>
          <!--          <td>{{ data?.fieldName + '-' + data?.shipName + ' ' + data?.stackName }}</td>-->
          <td>{{ data?.stackName }}</td>
          <td>{{ data?.isFinished === 0 ? '未结束' : '已结束' }}</td>
          <td>{{ data?.remark }}</td>
          <td>
            <a (click)="edit(data)">编辑</a>
            <ng-container *ngIf="data?.isFinished === 0">
              <nz-divider nzType="vertical"></nz-divider>
              <a class="line-remove" nz-popconfirm nzPopconfirmTitle="确认结束吗?" nzPopconfirmPlacement="top" (nzOnConfirm)="stop(data)"
                >结束</a
              >
            </ng-container>
          </td>
        </tr>
      </tbody>
      <ng-template #totalTemplate let-total class="sysy"> 共 {{ total }} 条数据</ng-template>
    </nz-table>
  </nz-card>
</div>
