<div class='content' style='padding-top: 20px; padding-left: 20px'>
  <nz-card style='min-height: calc(100vh - 20px); border-top-left-radius: 10px' [nzBordered]='false'>
    <form nz-form [formGroup]='searchForm' class='ant-advanced-search-form line-form'>
      <div class='row'>
        <div class='col-1-5 col-1-5-md'>
          <nz-form-item nzFlex>
            <nz-form-label>日期</nz-form-label>
            <nz-form-control class='flex2'>
              <nz-date-picker class='w' formControlName='date' [nzAllowClear]='false'></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class='col-1-5 col-1-5-md btn-group'>
          <button nz-button nzType='primary' (click)='search()'>查询</button>
          <button nz-button nzType='default' (click)='reset()'>重置</button>
                    <button nz-button nzType="default" (click)="export()">导出</button>
        </div>
      </div>
    </form>

    <nz-table
      class='mt30 hover-table odd-table fix-table'
      #table
      [nzShowSizeChanger]='true'
      [nzFrontPagination]='false'
      [nzShowTotal]='totalTemplate'
      [nzTotal]='pageInfo.total'
      [(nzPageIndex)]='pageInfo.pi'
      [(nzPageSize)]='pageInfo.ps'
      [nzData]='dataList'
      [nzLoading]='pageInfo.loading'
      (nzPageIndexChange)='load()'
      (nzPageSizeChange)='search()'
    >
      <thead>
      <tr>
        <th class='w80'>序号</th>
        <th>船名</th>
        <th>分票标记</th>
        <th>货主</th>
        <th>货名</th>
        <th>入库日期</th>
        <th>入库数（吨）</th>
        <th>操作过程</th>
        <th>场地</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let data of table.data; let i = index'>
        <td>{{ i + 1 + (this.pageInfo.pi - 1) * this.pageInfo.ps }}</td>
        <td>{{ data?.shipName }}</td>
        <td>{{ data?.billNo }}</td>
        <td>{{ data?.cargoOwner }}</td>
        <td>{{ data?.cargoName }}</td>
        <td>{{ data?.inDate }}</td>
        <td>{{ data?.inWeight }}</td>
        <td>{{ data?.inWeight }}</td>
        <td>{{ data?.planYard }}</td>
      </tr>
      </tbody>
      <ng-template #totalTemplate let-total class='sysy'> 共 {{ total }} 条数据</ng-template>
    </nz-table>
  </nz-card>
</div>
