<form [formGroup]='form'>
    <nz-row>
        <nz-col [nzSpan]='24'>
            <nz-form-item nzFlex>
                <nz-form-label nzFor='oldPassword' [nzSpan]='6'>原密码</nz-form-label>
                <nz-form-control [nzSpan]='14'>
                    <input formControlName='oldPassword' [type]="'password'" nz-input />
                    <nz-form-text *ngIf="form.get('oldPassword').dirty && form.get('oldPassword').errors">
                        <ng-container *ngIf="form.get('oldPassword').hasError('required')">
                            <span style='color: #D63130'>原密码为必输项</span>
                        </ng-container>

                    </nz-form-text>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]='24'>
            <nz-form-item nzFlex>
                <nz-form-label nzFor='newPassword' [nzSpan]='6'>新密码</nz-form-label>
                <nz-form-control [nzSpan]='14'>
                    <input formControlName='newPassword' [type]="'password'" nz-input />

                    <nz-form-text *ngIf="form.get('newPassword').dirty && form.get('newPassword').errors">
                        <ng-container *ngIf="form.get('newPassword').hasError('required')">
                            <span style='color: #D63130'>新密码为必输项</span>
                        </ng-container>
                        <ng-container *ngIf="form.get('newPassword').hasError('maxlength')">
                            <span style='color: #D63130'>密码长度小于20</span>
                        </ng-container>
                        <ng-container *ngIf="form.get('newPassword').hasError('minlength')">
                            <span style='color: #D63130'>密码长度大于8</span>
                        </ng-container>
                        <ng-container *ngIf="form.get('newPassword').hasError('pattern')">
                            <span style='color: #D63130'>密码需大小字母+数字+特殊字符[!#@*&.]</span>
                        </ng-container>

                    </nz-form-text>

                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]='24'>
            <nz-form-item nzFlex>
                <nz-form-label nzFor='newPassword1' [nzSpan]='6'>确认密码</nz-form-label>
                <nz-form-control [nzSpan]='14'>
                    <!--<input [ngClass]="a?'err':''" nz-input formControlName="confirmPassword">-->
                    <input [ngClass]="a?'err':''" formControlName='newPassword1' [type]="'password'" nz-input />

                    <div flex>
                        <nz-form-text mr20 *ngIf="form.get('newPassword1').dirty && form.get('newPassword1').errors">
                            <ng-container *ngIf="form.get('newPassword1').hasError('required')">
                                <span style='color: #D63130'>新密码为必输项</span>
                            </ng-container>
                        </nz-form-text>
                        <div class='has-error'>
                            <nz-form-text>
                                <ng-container *ngIf='a'>
                                    <span style='color: #D63130'>密码输入不一致</span>
                                </ng-container>
                            </nz-form-text>
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>
</form>
<div class="drawer-footer-bottom mb5">
    <button class='cancel-btn' nzType='primary' nz-button (click)='close()'>关闭</button>
    <button class='save-btn' nz-button nzType='primary' (click)='saveAndClose()'>保存</button>
</div>
