<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>登录账号</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input type="text" nz-input formControlName="account"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>用户昵称</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="realName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6">手机号码</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="phone"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>分配角色</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select formControlName="roleId" nzAllowClear nzShowSearch>
        <nz-option-group [nzLabel]="subsystem.roleName" *ngFor="let subsystem of roleGroup">
          <ng-container *ngIf='subsystem?.children'>
            <nz-option *ngFor="let role of subsystem.children"
                       [nzLabel]="role.roleName"
                       [nzValue]="role.id"></nz-option>
          </ng-container>
          <ng-container *ngIf='!subsystem?.children'>
            <nz-option [nzLabel]="subsystem.roleName" [nzValue]="subsystem.id"></nz-option>
          </ng-container>
        </nz-option-group>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="drawer-footer-bottom mb5">
  <button class='cancel-btn' nz-button (click)='close()'>关闭</button>
  <button class='save-btn' nz-button nzType='primary' (click)='save()'>保存</button>
</div>
