
<button nz-button (click)='saveAndClose()'>saveAndClose</button>
<nz-table #basicTable [nzData]="dataList" nzShowPagination nzShowSizeChanger (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
  <tr>
    <th nzWidth='80px'></th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td nzShowCheckbox [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event,data)"></td>
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
    <td>
      <a>Action 一 {{ data.name }}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
