<div class="w h" style="">
  <div class="w h top-bg" style="line-height: 64px">
    <div class="alain-default__nav-wrap h">
      <ul class="alain-default__nav h">
        <!--                <div class="cfff ls2 pl100 mb0" style="font-size: 22px">{{info?info:' 111'}}</div>-->

        <!--              <img-->
        <!--                class="logo ml40 mr10"-->
        <!--                src="./assets/img/YJGLOGO.png"-->
        <!--                style="height: 16px"-->
        <!--              />-->
        <!--              &lt;!&ndash;    <div class="w cfff fw" style="font-family: cursive;font-size: 20px">{{settings.app.name}}</div>&ndash;&gt;-->
        <!--              <div class="w cfff fw" style="font-family: cursive; font-size: 20px">-->
        <!--                网上营业大厅-->
        <!--              </div>-->
      </ul>
                  <ul class="alain-default__nav" style="width: auto;">
                      <li class="hidden-mobile">
                      </li>
                      <li class="hidden-mobile mr30">
                          <header-user></header-user>
                      </li>
                  </ul>
    </div>
  </div>
</div>
